
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_HomeLayoutPage.cshtml";
}
    <hr>
<br />
<table cellspacing='20'>
    <tr>
        <td><img src="~/restruantImage/chef.jpg"  height="500" width="600"/></td>
        <td><h3>we have been serving this resturant for  more then decade and we will continue to do so the work</h3></td>
    </tr>
    
    <tr>
        <td><h3>We have highly qualified trained staff and each of them have about 10 to 12 years of experience </h3></td>
        <td><img src="~/restruantImage/staff.jpg" height="500" width="650" /></td>
    </tr>
</table>

